astroid==2.11.2
dill==0.3.4
Django==2.2.6
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysqlclient==2.1.0
Pillow==9.1.0
platformdirs==2.5.1
pylint==2.13.3
pylint-django==2.5.3
pylint-plugin-utils==0.7
PyMySQL==1.0.2
pytz==2022.1
sqlparse==0.4.2
tomli==2.0.1
typed-ast==1.5.2
typing_extensions==4.1.1
wrapt==1.14.0
